/* You can add global styles to this file, and also import other style files */
@import "~src/assets/scss/_vars";

html {
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-text;
    font-weight: $normal;
    -ms-text-size-ajust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: color(black);
  }
  
  body {
    overflow-x: hidden;
    background: color(background);
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  
  a {
    color: color(white);
    text-decoration: none;
  }
  
  i {
    display: inline;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-title;
    text-transform: uppercase;
    line-height: 1.3em;
    font-weight: $bold;
  }
  
  h1 {
    font-size: $h1-size;
  }
  
  h2 {
    font-size: $h2-size;
  }
  
  h3 {
    font-size: $h3-size;
  }
  
  img,
  audio,
  canvas,
  iframe,
  picture,
  progress,
  svg {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    vertical-align: baseline;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-left: 1em;
    list-style-type: inherit;
    list-style-position: inside;
  }
  
  label,
  input,
  textarea,
  article,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
   /*TYPOGRAPHY *
  -----------------------------------------------*/
  p {
    margin: 0 0 1em 0 !important;
  }
  .big {
    font-size: 1.25em;
  }
  .muted {
    color: color(gray);
  }
  .meta {
    font-size: 80%;
    color: color(gray);
  }

  b,
  strong {
    font-weight: bold;
  }
  
    /*FORMS *
  -----------------------------------------------*/
  form {
    margin-bottom: $gutter;
    border-radius: 3px;
    max-width: 400px;
  }
  form ul {
    margin: 0;
    padding: 0;
  }
  form li {
    list-style: none;
  }
  .field-wrapper {
    display: block;
    position: relative;
    margin-bottom: 0.25em;
  }
  ::-webkit-input-placeholder {
    color: color(gray);
  }
  label.float-label {
    position: absolute;
    top: -13px;
    left: 0;
    font-size: 12px;
    color: color(gray);
    transition: all ease-out 300ms;
    opacity: 0;
    font-weight: bold;
  }
  label.float-label.on {
    color: color(background);
  }
  label.float-label.show {
    top: -15px;
    opacity: 1;
  }
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="file"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input,
  .faux-file {
    display: inline-block;
    padding: 0 0.4em 0 0.4em;
    padding: 0.5em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 550px;
    transition: all ease-out 300ms;
  }
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="file"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input,
  .faux-file {
    width: 100%;
    min-height: 36px;
    border: 3px solid color(gray);
    margin: 0 0 1em 0 !important;
  }
  textarea:hover,
  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="file"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="date"]:hover,
  input[type="month"]:hover,
  input[type="time"]:hover,
  input[type="week"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  input[type="url"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="color"]:hover,
  .uneditable-input:hover,
  .faux-file:hover {
    border: 3px solid color(gray);
  }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="file"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus,
  .faux-file:focus {
    border: 3px solid color(primary);
    outline: none;
  }
  input,
  textarea {
    -webkit-appearance: none;
    cursor: pointer;
  }
  textarea {
    height: 150px;
  }
  input[type=submit] {
    display: inline-block;
    background: color(primary);
    color: color(white);
    line-height: 1;
    padding: 1em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    border: 0;
    text-align: center;
    transition: all ease-out 300ms;
    border-radius: 3px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover,
  input[type=submit]:focus {
    background: darken(color(primary),15%);
    color: white;
  }
  /*RADIO/CHECKBOX*/
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    color: color(black);
    font-size: $gutter;
    cursor: pointer;
    margin: $gutter 0 0 0 !important;
  }
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: all ease-out 300ms;
  }
  input[type="radio"]:hover,
  input[type="checkbox"]:hover,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus,
  input[type="radio"]:hover + label,
  input[type="checkbox"]:hover + label,
  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label {
    border-color: color(gray);
    color: color(gray);
  }
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    color: black;
    position: relative;
  }
  input[type="radio"] + label::before {
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 0.125em;
    position: relative;
    top: 0.4em;
    display: inline-block;
    background-color: transparent;
    border-radius: 2em;
    border: 4px solid color(gray);
  }
  input[type="checkbox"] + label::before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 0.125em;
    position: relative;
    top: 0.25em;
    display: inline-block;
    background-color: color(gray);
    border-radius: 5px;
  }
  input[type="checkbox"]:checked + label::after {
    content: '✔';
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    width: 10px;
    height: 10px;
    color: color(white);
  }
  input[type="radio"]:checked + label::before {
    border-color: color(gray);
  }
  input[type="radio"]:checked + label::after {
    content: '';
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    top: 0.35em;
    left: 0.4em;
    display: inline-block;
    background-color: color(gray);
    border-radius: $gutter*2;
  }
  mark{
    background: color(primary);
    color:color(black);
  }

  table {
    border-collapse: collapse;
  }
  
  *[disabled] {
    cursor: default;
    color: color(greyDark);
    background: color(grey);
  }
  
  
  ::selection{
      background: color(primary);
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: color(white);
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    background-color: color(white);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: color(primary);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
  }
  
  